<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913447341472-lj6iqud5rjv1qqqhppq4vmue36kc870e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913447341472-lj6iqud5rjv1qqqhppq4vmue36kc870e</string>
	<key>API_KEY</key>
	<string>AIzaSyBOMAA17DjQ0EXfNPPqbB7mtRS7A_o0zmg</string>
	<key>GCM_SENDER_ID</key>
	<string>913447341472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>evstarshov.TashaDesertsShop</string>
	<key>PROJECT_ID</key>
	<string>tashadesertsshop</string>
	<key>STORAGE_BUCKET</key>
	<string>tashadesertsshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913447341472:ios:ab8ac04c2879cd0e4ae8c5</string>
</dict>
</plist>